{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "arrowParens": "avoid",
    "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
